.project-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.project-1 {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-top: 40px;
}

.text-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture-1 {
    object-fit: cover;
    height: 100%;
    width: 500px;
    margin: 0px 40px 0px 40px;
}

.project-2 {
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.picture-2 {
    object-fit: cover;
    object-position: left;
    height: 100%;
    width: 500px;
    margin: 0px 40px 0px 40px;
}

.project-2 .text-project {
    margin: 0px 0px 0px 40px;
}

.button-work {
    display: flex;
    justify-content: center;
    margin: 30px 0px 50px 0px;
}

.more-work {
    background-color: white;
    color: black;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border-width: 1.5px;
    border-style: solid;
    transition: 0.15s;
    cursor: pointer;
}

.more-work:active {
    background-color: black;
    border: none;
    color: white;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.description {
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

.technologies {
    color: black;
    font-size: 20px;
    margin-top: 25px;
}