.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(5, 5, 5);
    justify-content: space-between;
}

.header-name {
    display: flex;
    width: 150px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, Arial;
    font-weight: 600;
    font-size: 20px;
}

.navigate-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    width: 500px;
    margin-right: 40px;
}

.navigate-bar .hire-button {
    height: 35px;
    border-radius: 20px;
    width: 80px;
    background-color: rgb(18, 18, 18);
    color: white;
    border: 0.1px solid white;
    margin-left: 18px;
    transition: 0.15s;
    cursor: pointer;
}

.hire-button:hover {
    background: white;
    border: none;
    color: black;
}

.hire-button:active {
    opacity: 0.7;
}

.navigate-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 70px;
    width: 105px;
    transition: 0.15s;
}

.navigate-bar a:hover {
    background-color: white;
    color: rgb(18, 18, 18);
}

.bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 45px;
    margin-top: 40px;
}

.bottom-header .header-name {
    width: 200px;
    font-weight: 400;
    font-size: 17px;
}

.bottom-header .navigate-bar a {
    height: 100%;
}

.bottom-header .navigate-bar .hire-button {
    height: 30px;
    width: 75px;
}