p {
    font-family: Arial;
    margin: 0;
}

a {
    font-family: Arial;
}

.all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}

.section1 {
    margin-left: 150px;
}

.picture {
    width: 400px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 80px;
}

.function {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    margin-top: 40px;
    margin-left: 40px;
}

.info {
    width: 100%;
}

.information {
    border: none;
    padding: 5px 5px 5px 5px;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.contact2 img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-top: 260px;
}

.contact1 {
    margin-left: 40px;
    line-height: 30px;
}

.title-contact {
    font-size: 20px;
    font-weight: bold;
}

.text-input {
    margin-top: 25px;
    margin-left: 25px;
}

.info button {
    background-color: black;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 25px;
    cursor: pointer;
    transition: 0.15s;
}

.info button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.info button:active {
    opacity: 0.7;
}

.bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 45px;
    margin-top: 210px;
}

.bottom-header .header-name {
    width: 200px;
    font-weight: 400;
    font-size: 17px;
}

.bottom-header .navigate-bar a {
    height: 100%;
}

.bottom-header .navigate-bar .hire-button {
    height: 30px;
    width: 75px;
}


.header-name {
    display: flex;
    width: 150px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, Arial;
    font-weight: 600;
    font-size: 20px;
}

.navigate-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    margin-right: 40px;
}

.navigate-bar .hire-button {
    height: 35px;
    border-radius: 20px;
    width: 80px;
    background-color: rgb(18, 18, 18);
    color: white;
    border: 0.1px solid white;
    margin-left: 18px;
    transition: 0.15s;
    cursor: pointer;
}

.hire-button:hover {
    background: white;
    border: none;
    color: black;
}

.hire-button:active {
    opacity: 0.7;
}

.navigate-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 70px;
    width: 105px;
    transition: 0.15s;
}

.navigate-bar a:hover {
    background-color: white;
    color: rgb(18, 18, 18);
}